<!DOCTYPE html>{{- /*gotype:github.com/mdhender/otto/frontend/admin.Shell*/ -}}
<html class="h-full bg-gray-900" lang="en">
<head>
    <meta charset="utf-8">
    <title>{{with .Title}}{{.}}{{else}}Otto{{end}}</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link integrity="" rel="stylesheet" href="/css/tailwind.css">
    <script src="/js/htmx-1.9.12.min.js" defer></script>
    <script src="/js/alpinejs-3.14.0.min.js" defer></script>
</head>
<body class="h-full">
<div>
    <!-- Off-canvas menu for mobile, show/hide based on off-canvas menu state. -->
    {{template "mobileMenuOffCanvas" .MobileMenuOffCanvas}}

    <!-- Static sidebar for desktop -->
    {{template "desktopSidebarStatic" .DesktopSidebarStatic}}

    <div class="xl:pl-72">
        <!-- Sticky search header -->
        {{template "searchHeaderSticky" .SearchHeaderSticky}}

        <main>
            <h1 class="sr-only">Account Settings</h1>

            <header class="border-b border-white/5">
                <!-- Secondary navigation -->
                {{template "navBarSecondary" .NavBarSecondary}}
            </header>

            <!-- Settings forms -->
            {{template "accountSettings" .AccountSettings}}
        </main>
    </div>
</div>
</body>
</html>
